.coach-card {
	background-color: white;
	border-bottom: 4px solid $color__orange;
	border-radius: 4px;
	color: black;
	display: flex;
	font-size: 15px;
	font-size: 1.5rem;
	height: 165px;
	margin: 12px;
	padding: 10px 5px;
	position: relative;
	text-align: left;
	width: 318px;

	img {
		height: 100px;
		width: 100px;
	}

	.coach-name {
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: 600;
		margin-left: 5px;
	}

	.coach_excerpt {
		font-weight: 400;
		margin-left: 5px;
	}
}
