body.home.page {

	.skew-inner {
		max-width: 1100px;
	}

	.hero-image-header {
		background-size: cover;
		height: 100vh;
	}

	.hero-text-wrapper {

		@media screen and (max-width: 860px) {
			height: 500px;
		}

		@media screen and (max-width: 460px) {
			height: 650px;
		}

		@media screen and (max-width: 350px) {
			height: 560px;
		}

		color: white;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		margin-left: 10%;
		max-width: 900px;
		text-align: left;
		width: auto;

		h1 {
			@media screen and (max-width: 460px) {
				font-size: 36px;
				font-size: 3.6rem;
			}

			@media screen and (max-width: 350px) {
				font-size: 26px;
				font-size: 2.6rem;
			}
		}

		.homepage-hero-orange-button {
			@media screen and (max-width: 460px) {
				margin-bottom: 10px;
				width: 90%;
			}

			background-color: $color__orange;
			border-radius: 4px;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
			font-weight: bold;
			margin-right: 16px;
			padding: 12px 18px;
			width: 171px;
		}

		.homepage-hero-orange-button:hover {
			background-color: white;
			color: $color__orange;
		}

		.homepage-hero-transparent-button {
			@media screen and (max-width: 460px) {
				width: 90%;
			}

			background-color: transparent;
			border: 2px solid white;
			border-radius: 4px;
			font-weight: bold;
			padding: 12px 18px;
			width: 171px;
		}

		.homepage-hero-transparent-button:hover {
			background-color: white;
			color: $color__orange;
		}
	}

	#homepage-section-video {

		.background-white .skew-inner {

			@media screen and (max-width: 1215px) {
				height: 750px;
			}

			height: 500px;
		}

		.div-overlap-top {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			position: relative;
			top: -150px;
			width: 100%;

			div {
				margin: 20px;
				max-width: 450px;
			}

			.homepage-video-content {

				@media screen and (max-width: 1215px) {
					margin-top: 20px;
				}

				margin-top: 150px;
			}

			.under-header-div {
				margin: 20px 0;
			}
		}

	}

	.what-is {
		text-align: center;
		margin: 0 auto;

		h2 {
			margin-bottom: 20px;
		}

		p {
			margin-top: 20px;
		}

		button {
			width: 250px;
		}
	}

	.lessons {
		.under-header-div {
			margin: 20px 0;
		}

		button {
			margin-bottom: 20px;
		}
	}

	.lessons.align-left {
		text-align: left;
	}

	.lessons.align-right {
		text-align: right;
	}

	.big-lesson-number {
		color: $color__orange;
		font-size: 72px;
		font-size: 7.2rem;
		font-weight: 600;
	}

	#homepage-section-step-2 {

		.under-header-div {
			float: right;
		}

		.section-text {
			clear: both;
		}

	}

	#homepage-section-step-3 {

		.slanted-section-r-l-inner:after {
			height: 0;
		}

		.lesson-cards {

			@media screen and (max-width: 1000px) {
				height: auto;
			}

			height: 300px;
		}

	}

	#homepage-section-learn-from {
		background-color: #444444;
		color: white;
		text-align: center;

		.skew-inner {
			padding: 60px 0;
			margin-left: 0;
			margin-right: 0;
			max-width: none;
			overflow: hidden;
			width: 100%;
		}

		.under-header-div {
			border-color: white;
			margin: 20px auto;
		}

		button {
			width: 254px;
		}

		.homepage-coaches-container {

			@media screen and (max-width: 950px) {
				left: 0;
			}

			@media screen and (max-width: 600px) {
				height: 900px;
				justify-content: center;
				margin: 20px auto;
				width: 100vw;
			}

			display: flex;
		    flex-wrap: wrap;
			height: 370px;
			left: -185px;
			margin-bottom: 20px;
			margin-top: 20px;
			overflow: hidden;
			position: relative;
		    width: 175%;

			.coach-card.offset-class {

				@media screen and (max-width: 950px) {
					left: 0;
				}

				@media screen and (max-width: 600px) {
					display: none;
				}

				left: -165px;
			}

			a,
			a:hover {
				text-decoration: none;
			}
		}
	}

	#homepage-section-partners {
		background-color: white;
		text-align: center;

		.under-header-div {
			margin: 20px auto;
		}

		.gen-image {
			width: 300px;
			margin-bottom: 20px;
		}

		.partner-list {

			img {
				margin: 40px;
				width: 230px;
			}
		}
	}
}
