body.home.page {
	.hero-text-wrapper {
		color: white;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		margin-left: 10%;
		text-align: left;
		width: 900px;

		.homepage-hero-orange-button {
			background-color: $color__orange;
			border-radius: 4px;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
			font-weight: bold;
			margin-right: 16px;
			padding: 12px 18px;
			width: 171px;
		}

		.homepage-hero-orange-button:hover {
			background-color: white;
			color: $color__orange;
		}

		.homepage-hero-transparent-button {
			background-color: transparent;
			border: 2px solid white;
			border-radius: 4px;
			font-weight: bold;
			padding: 12px 18px;
			width: 171px;
		}

		.homepage-hero-transparent-button:hover {
			background-color: white;
			color: $color__orange;
		}
	}

	.div-overlap-top {
		top: -130px;
    	position: relative;
	}
}
