body.home.page {
	.hero-text-wrapper {

		@media screen and (max-width: 860px) {
			height: 500px;
		}

		@media screen and (max-width: 460px) {
			height: 650px;
		}

		@media screen and (max-width: 350px) {
			height: 650px;
		}

		color: white;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		margin-left: 10%;
		max-width: 900px;
		text-align: left;
		width: auto;

		h1 {
			@media screen and (max-width: 460px) {
				font-size: 36px;
				font-size: 3.6rem;
			}
		}

		.homepage-hero-orange-button {
			@media screen and (max-width: 460px) {
				margin-bottom: 10px;
				width: 90%;
			}

			background-color: $color__orange;
			border-radius: 4px;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
			font-weight: bold;
			margin-right: 16px;
			padding: 12px 18px;
			width: 171px;
		}

		.homepage-hero-orange-button:hover {
			background-color: white;
			color: $color__orange;
		}

		.homepage-hero-transparent-button {
			@media screen and (max-width: 460px) {
				width: 90%;
			}

			background-color: transparent;
			border: 2px solid white;
			border-radius: 4px;
			font-weight: bold;
			padding: 12px 18px;
			width: 171px;
		}

		.homepage-hero-transparent-button:hover {
			background-color: white;
			color: $color__orange;
		}
	}

	#homepage-section-video {

		.background-white .skew-inner {

			@media screen and (max-width: 1215px) {
				height: 750px;
			}

			// @media screen and (max-width: 860px) {
			// 	height: 500px;
			// }
			//
			// @media screen and (max-width: 460px) {
			// 	height: 500px;
			// }
			//
			// @media screen and (max-width: 350px) {
			// 	height: 500px;
			// }

			height: 500px;
		}

		.div-overlap-top {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			position: relative;
			top: -150px;
			width: 100%;

			div {
				margin: 20px;
				max-width: 500px;
			}

			.homepage-video-content {

				@media screen and (max-width: 1215px) {
					margin-top: 20px;
				}

				margin-top: 150px;
			}

			.under-header-div {
				margin: 20px 0;
			}
		}

	}



	#homepage-section-step-1 {


	}

	#homepage-section-step-2 {

	}

	#homepage-section-step-3 {


		.slanted-section-r-l-inner:after {
			height: 0;
		}

	}

	#homepage-section-learn-from {
		background-color: #222222;
		height: 400px;
	}

	#homepage-section-partners {
		background-color: white;
		height: 400px;
	}
}
