.page-template-page-3-step-start {

	.hero-text-wrapper {
		color: white;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		max-width: 700px;
		text-align: center;
	}

	.three-step-floating-menu {

		@media screen and (max-width: 1126px) {
			display: none;
		}

		border-radius: 4px;
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
		display: flex;
		flex-direction: column;
		left: 10%;
		position: fixed;
		top: 55%;
		z-index: 999;

		>:first-child {
			border-radius: 4px 4px 0 0;
			background-color: #444444;
			color: white;
		}

		>:last-child {
			border-radius: 0 0 4px 4px;
			background-color: $color__orange;
			color: white;
		}

		a {
			background-color: white;
			color: black;
			padding: 10px 20px;
			text-decoration: none;
		}


	}

	.slanted-section.background-light .skew-inner {

		// @media screen and (max-width: 860px) {
		// 	height: 2375px;
		// }
		//
		// @media screen and (max-width: 460px) {
		// 	height: 2400px;
		// }
		//
		// @media screen and (max-width: 350px) {
		// 	height: 2365px;
		// }

		// height: 830px;
	}

	.lessons {

		@media screen and (max-width: 1126px) {
			margin-left: auto;
			margin-right: auto;
		}

		margin-left: 25%;
		max-width: 1000px;

		.under-header-div {
			margin: 20px 0;
		}

		button {
			margin-bottom: 20px;
		}

		.lesson-cards {

			display: block;
			height: auto;

			.lesson-card {
				flex-wrap: wrap;
				height: auto;
			    max-width: 768px;
				width: 100%;

				.lesson-number {

				}

				.lesson-info {

					@media screen and (max-width: 825px) {
						width: auto;
					}

					@media screen and (max-width: 450px) {
						width: 50%;
					}

					width: 550px;

					small {
						color: black;
						font-weight: 400;
					}

					.author {
						color: $color__orange;
					}
				}

				.lesson-chevron {
					color: $color__orange;
				}

				button {
					padding: 5px;
					width: 75px;
				}

				.lesson-activities {
					width: 100%
				}

				.activity-wrapper {

					@media screen and (max-width: 450px) {
						width: 80%;
					}

					background-color: #eeeeee;
					display: flex;
					font-weight: 400;
					justify-content: space-between;
					margin: 5px 0 5px 50px;
					padding: 5px 10px;
					width: 90%;
				}
			}
		}

	}

	.lessons.align-left {
		text-align: left;
	}

	.lessons.align-right {

		@media screen and (max-width: 825px) {
			margin-right: 0;
		}

		margin-right: 5%;
		text-align: right;
	}

	.big-lesson-number {
		color: $color__orange;
		font-size: 72px;
		font-size: 7.2rem;
		font-weight: 600;
	}

	#step-1-lessons {

		.skew-inner {
			padding-top: 10px;
		}
	}

	#step-2-lessons {

		.under-header-div {
			float: right;
		}

		.section-text {
			clear: both;
		}

		button {
			background-color: white;
			border: 1px solid black;
			color: black;
		}

	}

	#step-3-lessons {

		.slanted-section-r-l-inner:after {
			height: 0;
		}

		.lesson-cards {

			@media screen and (max-width: 1000px) {
				height: auto;
			}

		}

		button {
			background-color: white;
			border: 1px solid black;
			color: black;
		}

	}



	.slanted-section-r-l-inner:after {
		height: 0;
		transform: none;
	}

}
