.page-template-page-get-your-pass {

	.hero-text-wrapper {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		text-align: center;
	}

	#get-your-pass-price-boxes,
	#get-your-pass-price-lists {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 1000px;

	}

	.get-your-pass-price-box,
	.get-your-pass-price-list {
		margin: 19px;
		width: 318px;
		text-align: center;
	}

	.get-your-pass-price-box {
		background-color: white;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
		padding: 50px 23px 23px;
		position: relative;

		// p {
		// 	position: relative;
		// }

		h2 {
			font-size: 24px;
			font-size: 2.4rem;
		}

		.price-box-price {
			font-weight: bold;
			font-size: 52px;
			font-size: 5.2rem;
			margin-bottom: 0;
		}

		a {
			bottom: 20px;
			left: 14px;
			// position: absolute;
		}

		button {
			background-color: #ff9b02;
			border-radius: 4px;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
			color: white;
			padding: 16px;
			width: 270px;
		}
	}

	#get-your-pass-all-passes-include {

		max-width: 1000px;

		h2 {
			text-align: center;
		}

		.all_paid_passes_list_items {
			display: flex;
			flex-wrap: wrap;

			.all_paid_passes_list_item {

			}
		}
	}


}
