.page-template-page-get-your-pass {

	.hero-text-wrapper {
		color: white;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		text-align: center;
	}

	.div-overlap-top {
		top: -130px;
    	position: relative;
	}

	.slanted-section.background-light .skew-inner {

		@media screen and (max-width: 860px) {
			height: 2375px;
		}

		@media screen and (max-width: 460px) {
			height: 2500px;
		}

		@media screen and (max-width: 350px) {
			height: 2365px;
		}

		height: 830px;
	}

	#get-your-pass-price-boxes,
	#get-your-pass-price-lists {
		@media screen and (max-width: 860px) {
			flex-wrap: wrap;
		}

		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 1000px;

	}

	.get-your-pass-price-box,
	.get-your-pass-price-list {
		margin: 19px;
		width: 318px;
		text-align: center;
	}

	.get-your-pass-price-box {
		background-color: white;
		border-radius: 4px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
		padding: 100px 23px 23px;
		position: relative;

		// p {
		// 	position: relative;
		// }

		.most-popular {
			background-color: $color__orange;
			border-radius: 4px;
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
			color: white;
			font-weight: 600;
			padding: 10px 20px;
			position: absolute;
			right: -10px;
			top: 20px;
		}

		h2 {
			font-size: 24px;
			font-size: 2.4rem;
		}

		.price-box-price {
			font-weight: bold;
			font-size: 52px;
			font-size: 5.2rem;
			margin-bottom: 0;
		}

		a {
			bottom: 20px;
			left: 14px;
			// position: absolute;
		}

		button {
			background-color: $color__orange;
			border-radius: 4px;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
			color: white;
			padding: 16px;
			width: 270px;
		}

		button:hover {
			background-color: white;
			border-color: white;
			color: $color__orange;
		}
	}

	#get-your-pass-all-passes-include {

		h2,
		p {
			margin: 30px auto;
			text-align: center;
		}

		.passes-include-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 60px auto 30px;
			max-width: 1000px;

			.passes-include-item {
				align-items: center;
				display: flex;
				max-width: 300px;
				width: 300px;

				img {
					box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
					border-radius: 25px;
					height: 50px;
					width: 50px;
				}

				.passes-include-list-item {
					margin-left: 20px;
				}
			}
		}
	}

	#get-your-pass-every-pass-includes {
		h2,
		p {
			text-align: center;
		}

		.every-pass-includes-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 60px auto 30px;
			max-width: 1000px;

			.every-pass-includes-item {
				max-width: 300px;
				text-align: center;
				width: 300px;

				img {
					height: 128px;
				}

			}
		}

		button {
			background-color: $color__orange;
			border-radius: 4px;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
			color: white;
			padding: 16px;
			width: 270px;
		}
		
		button:hover {
			background-color: white;
			border-color: white;
			color: $color__orange;
		}
	}

	.slanted-section-r-l-inner:after {
		height: 0;
		transform: none;
	}

}

.under-header-div {
	border: 2px solid $color__orange;
	margin: auto;
	width: 40px;
}
