/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
}

.site-header > .wrap {
	// padding: 20px 0;

	padding: 0 60px;
    max-width: 100%;
    position: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 99;

}
