/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
}

.site-header > .wrap {
	// padding: 20px 0;

	@media screen and (max-width: 1022px) {
		background: transparent !important;
		display: block;
		padding-left: 0;
		padding-right: 0;
	}


	padding: 0 60px;
    max-width: 100%;
    position: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 99;

}
