/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #444444;
	color: white;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1;
	padding: 15px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}
